.work{
    background-color: black;
    align-items: center;
    padding-top: 50px;
    
}
/* .vertical-line{
    border-left: 4px solid white;
    height: 500px;
    margin-left: 50%;
  
    z-index: -1;
  

} */
.title-name{
    display: flex;
    color: white;
    font-weight: 600;
    justify-content: center;
    
}
.btns{
    display: flex;
    justify-content: space-around;
}

.route{
    margin-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.btns button{
    border-radius: 50px;
    height: 50px;
    background-color: #16002A;
    color: white;
    font-weight: 600;
    border: none;
}
.box-1{
    
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
   justify-content: center;
   margin: auto;
   
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    border-bottom: 1px solid white;
    padding: 5px 5px 5px 5px;
    background: #151030;
    color: white;
    width: 80%;
    
}
.box-2{

    display: flex;
    flex-direction: row-reverse;
    width: 100%;
   justify-content: center;
   margin: auto;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    border-bottom: 1px solid white;
    width: 80%;
    padding: 5px 5px 5px 5px;
    background: #151030;
    color: white;
}
@media screen and (max-width: 550px){
    .box-1{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
       justify-content: center;
       margin: auto;
    }
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 5px 5px 5px 5px; 
    }
    .box-2{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        margin: auto;

    }
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 5px 5px 5px 5px; 
    }
    
}
@media screen and (max-width: 1000px){
    .box-1{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
       justify-content: center;
       margin: auto;
    }
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 5px 5px 5px 5px; 
    }
    .box-2{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        margin: auto;

    }
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 5px 5px 5px 5px; 
    }
    
}